
<!-- <p>HEllo i am Dashboard</p> -->
<div >
<button type="button" class="btn btn-outline-danger mx-5 my-3" *ngIf="logindetail" (click)="logout()">Logout</button>
<button type="button" class="btn btn-outline-success mx-5 my-3" *ngIf="logindetail"  ><a routerLink="/cart"> View-Cart </a></button>
<h4 *ngIf="logindetail" class="m-2" style="color: rgb(101, 124, 116);"><a routerLink="/Dashboard">Logged In As:-  {{email}} </a></h4>

</div>
<div class="col-12 my-5  ">
    <div class="row px-3 ">
        <div id='div1' class="card p-2 mx-2 mb-3" style="width: 18rem;" *ngFor="let products of AllProducts">
            <!-- <p>Product Id: {{products.productid}}</p> -->
           
            <h1> {{products.productname}}</h1>
            <h3> {{products.des}}</h3>
            <img src="{{products.img}}" alt="img not set">
                <div class="row px-2">
                <button type="button" class="btn btn-outline-success m-2 " style="width: 100px;" (click)="addToCart(products)">add item</button>
                <!-- <button type="button" class="btn btn-warning " style="width: 180px;" > <a href="https://www.cardekho.com/"> View Details </a> </button> -->
                </div>
            <div>
            </div>
        </div>
    </div>
</div>